
.rentals-page { 
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border: 2px solid #000;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    gap: 40px;
}
.FormPage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    align-self: center;
    justify-self: center;
}

/* Right: Form */
.rentalForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.rentalInput,
.periodRental {
    padding: 10px 15px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
}

.periodRental {
    border-radius: 8px;
}

.emailRental[type="email"] {
    border-radius: 20px;
}


.rentalButton[type="submit"] {
    margin-top: 25px;
    padding: 12px;
    background-color: #000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.rentalButton[type="submit"]:hover {
    background-color: #333;
}

div.ChildContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}