h2 {
    font-size: larger;
    margin-top: 4rem;
}

main {
    align-items: center;
    justify-items: center;
}

.announcements {
    margin-top: 1rem;
}

.product-image {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
