.Nav {
    display: flex;
    justify-content: left;
    font-weight: bold;
    background-color: #2e7ceb;
    align-items: center;
    justify-content: space-evenly;
}

.Navlink {
    margin:1%;
}

.Nav a {
    color: rgb(0, 0, 0);
}